.business_container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: rgba(239, 239, 239, 0.514);
  border-radius: 4%;
  .business_image {
    img {
      width: 300px;
      height: 300px;
      border-radius: 4%;
    }
  }
  .business_name {
    align-self: start;
    font-size: 1em;
  }
  .business_infos {
    display: flex;
    justify-content: space-between;

    .business_adress {
      font-size: 0.8em;
    }
    .business_reviews {
      font-size: 0.8em;
      padding-left: 5px;
    }
  }
}

.business_reviews h3 {
  color: rgb(237, 180, 105);
}